@font-face {
  font-family: 'Rubik';
  src: url('../font-family/Rubik-Light.eot');
  src: url('../font-family/Rubik-Light.eot') format('embedded-opentype'),
      url('../font-family/Rubik-Light.woff') format('woff'),
      url('../font-family/Rubik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('../font-family/LibreBaskerville-Regular.woff2') format('woff2'),
      url('../font-family/LibreBaskerville-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body{
  margin: 0;
  padding: 0;
  font-family: 'Rubik';
}

h1, h2, h3, h4, h5, p, a, img{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin:0 auto;
  margin-bottom: 50px;
  padding-top: 40px;
}

.header-top img{
  display: block;
  width: 48px;
  height: 48px;
}

.span span{
  display:block;
  content: "";
  margin-bottom: 4px;
  width: 25px;
  height: 3px;
  background-color: #356EAD;
}

.container{
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.header-bottom{
  text-align: center;
  background-image: url('../images/Mask\ Group.svg');
  background-repeat: no-repeat;
  background-size:100%;
  height: 250px;
  width: 100%;
  margin-bottom: 60px;
}

.header-bottom h1{
  font-size: 44px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-bottom: 16px;
  height: 74px;
  padding-top: 45px;
}

.header-bottom p{
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.4);
}

.wrapper-top{
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 56px;
}

.wrapper-top input{
  width: 100%;
  outline: none;
  border: none;
  background: #F4F4F4;
  padding: 17px 72px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 19px;
  color: #131f30;
  font-family: 'Rubik'
}

::placeholder{
  font-size: 16px;
  line-height: 19px;
  color: #1F3F68;
  opacity: 0.6;
}

.wrapper-top .input{
  position: relative;
  margin-bottom: 56px;
  box-sizing: border-box;
}

.wrapper-top .input::before{
  content: "";
  position: absolute;
  background-image: url('../images/ic_search_24px.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  width: 24px;
  height: 24px;
  z-index: 1;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 30px;
}

.wrapper-top .pop1{
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
  color: #356EAD;
  opacity: 0.8;
  display: inline-block;
}

.section1{
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.section1 img{
  width: 540px;
  height: 380px;
}

.text a h1{
  font-size: 42px;
  line-height: 58px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  font-family: 'LibreBaskerville-Regular';
  width: 380px;
  margin-bottom: 32px;
  height: 116px;
}

.text p{
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #000000;
  opacity: 0.6;
  width: 378px;
  margin-bottom: 30px;
  height: 150px;
}

.icon{
  display: flex;
  align-items: center;
}

.icon-left{
  margin-right: 100px;
  width: 125px;
}

.icon-left a{
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  margin-bottom: 4px;
}

.icon-left p{
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.4;
}

.icon-right .img1{
  width: 18px;
  height: 22px;
  margin-right: 40px;
}

.icon-right .img2{
  width: 22px;
  height: 22px;
}

.section2{
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 54px;
  width: 945px;
}

.midles .images{
  width: 300px;
  height: 200px;
  margin-bottom: 16px;
}

.midles a h3{
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.04em;
  height: 76px;
  width: 298px;
  color: #1F3F68;
  margin-bottom: 16px;
  font-family: 'LibreBaskerville-Regular';
}

.midles .text{
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.6);
  width: 298px;
  margin-bottom: 16px;
}

.icon-right .img{
  margin-right: 32px;
}

.wrapper-top .pop2{
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #356EAD;
  opacity: 0.8;
  display: block;
  text-align: end;
}

.wrapper-bottom .all{
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.04em;
  color: #356EAD;
  opacity: 0.8;
  margin-bottom: 32px;
}

.row{
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.row h3{
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.04em;
  height: 38px;
  color: #1F3F68;
  margin-bottom: 16px;
  font-family: 'LibreBaskerville-Regular';
  /* display: block; */
}

.row .inner{
  margin-right: 20px;
}

.row-right .child{
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.6);
  width: 540px;
  margin-bottom: 20px;

}

.post{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 95px;
}

.post a{
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #356EAD;
}

.post .post-left{
  position: relative;
  padding-left: 30px;
}

.post .post-left::before{
  content: "";
  background-image: url('../images/Vector\ \(2\).svg');
  background-repeat: no-repeat;
  background-position: center;
  position:absolute;
  width: 12px;
  height: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
}

.post .post-right{
  position: relative;
  padding-right: 30px;
}

.post .post-right::before{
  content: "";
  position:absolute;
  background-image: url('../images/Vector\ \(3\).svg');
  background-repeat: no-repeat;
  background-position: center;
  position:absolute;
  width: 12px;
  height: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
}

.footer{
  position: relative;
}

.footer:before{
  content: "";
  background-color: #316099;
  border-radius: 0px 200px 0px 0px;
  background-position: left;
  background-repeat: no-repeat;
  position: absolute;
  width: 96%;
  height: 100%;
} 

.footer-top{
  display: flex;
  align-items: center;
  padding: 95px 0;
  position: relative;
}

.footer-top::before{
  content: "";
  position: absolute;
  width: 150%;
  height: 1px;
  background-color: #fff;
  opacity: 0.4;
  bottom: 0;
  left: -577px;
}

.team{
  margin-right: 180px;
}

.team h1{
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  width: 317px;
  margin-bottom: 32px;
}

.team p{
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6; 
  width: 460px;
}

.footer-top a{
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 75px;
  background: #5A98D0;
  border-radius: 10px;
  box-sizing: border-box;
}

.footer-bottom{
  padding: 100px 0 65px 0;
  display: flex;
  align-items: center;
}

.footer-bottom1{
  margin-right: 120px;
}

.footer-bottom1 h3{
  font-size: 28px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding-left: 64px;
  margin-bottom: 33px;
  position: relative;
}

.footer-bottom1 h3::before{
  content: "";
  background-image: url(../images/logo2.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.footer-bottom1 p{
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  width: 260px;
  margin-bottom: 24px;
  padding-left: 35px;
  position: relative;
  box-sizing: border-box;
}

.footer-bottom1 p::before{
  content: "";
  background-image: url(../images/A..svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 26px;
  position: absolute;
  left: 0;
  top: 0;
}

.footer-bottom1 a{
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  margin-bottom: 24px;
  font-weight: 400;
  padding-left: 35px;
  position: relative;
}

.footer-bottom1 a::before{
  content: "";
  background-image: url(../images/T..svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.footer-bottom1 .email::before{
  content: "";
  background-image: url(../images/E.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.footer-bottom2{
  margin-right: 90px;
}

.footer-bottom2 h4{
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.footer-bottom2 a{
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 16px;
  display: inline-block;
}

#text{
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.4;
  padding-bottom: 65px;
}